<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.joachimsmeyer.android.bluedisplay"
    android:installLocation="auto"
    android:versionCode="11"
    android:versionName="@string/app_version" >

    <!-- android:launchMode = "singleInstance" -->

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <supports-screens
        android:largeScreens="true"
        android:xlargeScreens="true" />

    <uses-sdk android:minSdkVersion="10" />
    <!-- use 10 and omit entry android:targetSdkVersion="xx" because only this enables the menu button -->
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="de.joachimsmeyer.android.bluedisplay.BlueDisplay"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.joachimsmeyer.android.bluedisplay.DeviceListActivity"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name="de.joachimsmeyer.android.bluedisplay.BlueDisplayPreferences" />
        <activity android:name="de.joachimsmeyer.android.bluedisplay.LogViewActivity" />
    </application>

</manifest>